@keyframes wave {
  from {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      10% 90%,
      20% 100%,
      30% 90%,
      40% 100%,
      50% 90%,
      60% 100%,
      70% 90%,
      80% 100%,
      90% 90%,
      100% 100%,
      100% 0%
    );
  }
  to {
    clip-path: polygon(
      0% 0%,
      0% 90%,
      10% 100%,
      20% 90%,
      30% 100%,
      40% 90%,
      50% 100%,
      60% 90%,
      70% 100%,
      80% 90%,
      90% 100%,
      100% 90%,
      100% 0%
    );
  }
}

.monster {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    10% 90%,
    20% 100%,
    30% 90%,
    40% 100%,
    50% 90%,
    60% 100%,
    70% 90%,
    80% 100%,
    90% 90%,
    100% 100%,
    100% 0%
  );
  /* animation: wave 100ms ease-in-out alternate infinite; */
}
