@keyframes chomp {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 50% 50%, 100% 75%, 100% 100%, 0% 100%);
  }
}

.pacman {
  animation: chomp 300ms ease-in-out infinite alternate;
}
